@using RaiteRaju.ApplicationUtility;

<title> Raiteraju</title>
<meta name="google-site-verification" content="Raiteraju,farmer,sell,land" />
<meta name="keywords" content="sell your crop at Raiteraju.in,raiteraju.in,farmer,sell,Buy,land,cotton,rice,sunflower,buffalo,Cow,Andhrapradesh" />
<meta name="description" content="sell your crop at Raiteraju.in,raiteraju.in,farmer,sell,Buy,land,cotton,rice,sunflower,buffalo,Cow,Andhrapradesh" />
<meta name="robots" content="index,follow" />

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $.noConflict();


    function fnOpenAd(ADID){

        var AdId=ADID;
        var win = window.open('/AddPost/AdDisplay?AdId='+AdId, '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        } else {
            //Browser has blocked it
            alert('Please Allow Popups For This Website');
        }
    }

    jQuery(document).ready(function () {
        var AdList = null;
        AdList=@(Html.Raw(Json.Encode(ViewBag.Adlist)));
        var length=Object.keys(AdList).length;

        if(length==0)
        {
            jQuery('#tblDisplay').html('<div class="row NoAdData"><div class="col-lg-12 col-sm-12 text-center">No Ads Found For Selected Category</div></div>');

        }
        else
        {
            var tblDisplay=jQuery('#tblDisplay');
            for(i=0;i<length;i++){
                j=i+1;
                tblDisplay.append('<div class="row" style="border:1px solid grey;margin-bottom:4px;cursor:pointer" onclick="fnOpenAd(' + AdList[i].AdID + ')"><div class="col-lg-2"><img src="/PhotoManagement/Compressed/' + AdList[i].AdID + '.jpg" class="DisplayImageclass" onerror="this.onerror=null;callfun(this);"/></div><div class="col-lg-7 col-xs-9" style="padding-left:35px"><div class="row" id="rowAdTitle">' + AdList[i].txtSubCategoryName + " Available at Rs." + AdList[i].txtPrice + "/" + AdList[i].SellingUnit.slice(0, -1) + '</div><div class="row font12" id="AdCategory">Category: ' + AdList[i].Category + '</div><div class="row font12"><i class="fa fa-map-marker" aria-hidden="true"></i>' + AdList[i].Location + '</div><div class="row font12">' + 'Posted On:' + (AdList[i].PostedDate) + '</div></div><div class="col-lg-3 d-none d-md-block"><div class="row" style="padding:15px; font-weight:bold;font-family:Verdana, Geneva, Tahoma, sans-serif">Rs.' + AdList[i].txtPrice + '<span style="font-size:14px;font-family:Verdana,sans-serif;">' + "/" + AdList[i].SellingUnit.slice(0, -1) + '</span>' + '</span></div><div class="row" style="Color:Green;padding:15px;font-size:14px">✔ Phone Number Verified</div></div></div>');

            }
        }
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber==1){
            jQuery('a#PreviousPage').attr('disabled', true);
            jQuery('a#PreviousPage').css("cursor","default");
        }
        if(TotalPageCount==CurrentPageNumber){
            jQuery('a#PageNext').attr('disabled', true);
            jQuery('a#PageNext').css("cursor","default");
        }
        if(TotalPageCount==0){
            jQuery("#divPaging").hide();
        }

    })


    jQuery(document).ready(function() {
        jQuery("a#PreviousPage").click(function(){

            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
                //jQuery('a#PreviousPage').css("color","grey");
            }
            else{
                if(jQuery("#txtClickedOnSearch").val()=="YES"){
                    jQuery("#divAdSearch").load("/AddPost/_AdSearch", {State:jQuery("#txtHiddenSearchState").val(),District:jQuery("#txtHiddenSearchDistrict").val(),Mandal:jQuery("#txtHiddenSearchMandal").val(),CategoryId:jQuery("#txtHiddenSearchCategory").val(),Keyword:jQuery("#txtHiddenSearchKeyword").val(),PageNumber:CurrentPageNumber-1});
                }
                else{
                    jQuery("#divAdSearch").load("/AddPost/_AdSearchCategory", {Category:parseInt(jQuery("#txtHiddenCategoryId").val()),PageNumber:CurrentPageNumber-1});
                }
            }
            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
                // jQuery('a#PreviousPage').css("color","grey");
            }


        });
        jQuery("a#PageNext").click(function(){
            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
                // jQuery('a#PreviousPage').css("color","grey");
            }
            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
                //jQuery('a#PreviousPage').css("color","grey");
            }
            else{
                if(jQuery("#txtClickedOnSearch").val()=="YES")
                {
                    jQuery("#divAdSearch").load("/AddPost/_AdSearch", {State:jQuery("#txtHiddenSearchState").val(),District:jQuery("#txtHiddenSearchDistrict").val(),Mandal:jQuery("#txtHiddenSearchMandal").val(),CategoryId:jQuery("#txtHiddenSearchCategory").val(),Keyword:jQuery("#txtHiddenSearchKeyword").val(),PageNumber:CurrentPageNumber+1});
                }
                else
                {
                    jQuery("#divAdSearch").load("/AddPost/_AdSearchCategory", {Category:parseInt(jQuery("#txtHiddenCategoryId").val()),PageNumber:CurrentPageNumber+1});
                }
                jQuery('a#PreviousPage').css("color","Blue");
            }
        });
    });

    function fnGoToPage(){
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber>TotalPageCount || CurrentPageNumber==0){
            alert("Maximum Available Pages Are "+TotalPageCount+".");
        }
        else{
            if(jQuery("#txtClickedOnSearch").val()=="YES")
            {
                jQuery("#divAdSearch").load("/AddPost/_AdSearch", {State:jQuery("#txtHiddenSearchState").val(),District:jQuery("#txtHiddenSearchDistrict").val(),Mandal:jQuery("#txtHiddenSearchMandal").val(),CategoryId:jQuery("#txtHiddenSearchCategory").val(),Keyword:jQuery("#txtHiddenSearchKeyword").val(),PageNumber:CurrentPageNumber});
            }
            else
            {
                jQuery("#divAdSearch").load("/AddPost/_AdSearchCategory", {Category:parseInt(jQuery("#txtHiddenCategoryId").val()),PageNumber:CurrentPageNumber});
            }
        }
    }
    //jQuery(document).ready(function() {
    //
    //    var CurrentPageNumber=jQuery("#PageNext").data("value");
    //    jQuery('#PreviousPage').data('value',CurrentPageNumber);
    //    jQuery('#NextPage').data('value',CurrentPageNumber+1);
    //    jQuery('#txtcurrentPageNumber').val();});

    
</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<style>


</style>

@*<div style="padding:10px 0px 10px 0px;background-color:#e0eaf1;border-radius:5px;font-family:Verdana,sans-serif">
    <table id="tblFilter" style="padding-left:20px;">
        <tr>
            <td><span class="FilterLabels">Select State</span><br />@Html.DropDownList("ddlState", Enum.GetValues(typeof(RaiteRaju.ApplicationUtility.StateList)).Cast<RaiteRaju.ApplicationUtility.StateList>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }), "---Select State---", new { @class = "DropdownList", required = "required" })</td>
            <td>
                <span class="FilterLabels">Select Distrinct</span><br /><select id="ddlDistrict" class="DropdownList" required>
                    <option value="">---Select District---</option>
                </select>
            </td>
            <td>
                <span class="FilterLabels">Select Mandal/Taluka</span><br />
                <select id="ddlMandal" class="DropdownList" required>
                    <option value="">---Select Mandal---</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>
                <span class="FilterLabels">Select Category</span><br />@Html.DropDownList("ddlCategory", Enum.GetValues(typeof(RaiteRaju.ApplicationUtility.CategoryEnums)).Cast<RaiteRaju.ApplicationUtility.CategoryEnums>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }), "---Select Category---", new { @class = "DropdownList", required = "required" })
            </td>
            <td><span class="FilterLabels">Enter any keyword for search</span><br />@Html.TextBox("txtSearchWord", null, new { @class = "form-control" }) </td>
            <td><br /><input id="btnSearch" type="button" value="Search" onclick="fnAdSearch()" /></td>
        </tr>
    </table>
</div>*@
<div id="divaADisplay">
    <table id="tblDisplay" style="width:100%; border-collapse:collapse">
    </table>
</div>

<div id="divPaging" style="padding-top:20px;margin-left:10%">
    <table style="width:100%;">
        <tr>
            <td style="text-align:left;color:blue">
                <a id="PreviousPage" data-value="1" style="cursor:pointer">
                    <span> < Previous Page </span>
                </a>
            </td>
            <td style="padding:0px 20px 0px 10px">
                <input id="btnGoToPage" type="button" title="click here to go to selected page" value="Go To Page" onclick="fnGoToPage()" />&nbsp; @Html.TextBox("txtcurrentPageNumber", (int)ViewBag.CurrentPageNumber, new { @class = "form-control" })
            </td>
            <td style="padding:0px 40px 0px 20px">
                <label id="lblTotalPageNumber">showing page @ViewBag.CurrentPageNumber of @ViewBag.TotalPageNumber</label>
            </td>

            <td style="text-align:right;color:blue">
                <a id="PageNext" data-value="2" style="cursor:pointer">
                    <span> NextPage > </span>
                </a>
            </td>
        </tr>
        <tr><td style="padding-top:50px"><input id="btnGoToHome" style=" background-color:green;
    border-radius:5px;
    font-size:14px;
    color:white;
    font-weight:bold;
    height:45px;
    width:150px;
    border:none;
    cursor:pointer;
    font-family:Verdana,sans-serif;" type="button" title="Go Back to Home" value="Go To Home Page" onclick="window.location.href = '/'" /></td></tr>
    </table>
</div>