@{
    ViewBag.Title = "AddVehicle";
    Layout = "~/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.loading-indicator.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/css/jquery.loading-indicator.css" />
<script type="text/javascript">
    $.noConflict();
    jQuery("#diverror").hide();

    function fnCancel() {
        window.location.href = '@Url.Action("Home", "Home")';
    }

    function validation() {
       
        var vehicleTypeID = jQuery("#ddlVehicles").val();
        var txtVehicleModel = jQuery("#txtVehicleModel").val();
        var txtVehicleNumber = jQuery("#txtVehicleNumber").val();

        intRegex = /^[5-9]{1}[0-9]{9}$/;
        vehicleNumberRegex =/^[A - Z]{ 2 } [-][0 - 9]{ 1, 2 } (?: [A - Z]) ? (?: [A - Z] *) ? [0 - 9]{ 4 } $/
        var intRegex = /^\d+$/;
        var message = "";

          

            if (vehicleTypeID == "0" || vehicleTypeID =="---Select Vehicle---") {
                message = message + "Please select Vehicle Type.\n";
            }

            if (txtVehicleModel=="") {
                message = message + "Please enter Vehicle Model.\n";
            }
            else if (vehicleNumberRegex.test(txtVehicleModel) == false) {

                message = message + "Enter valid vehicle number.\n";
            }
            else if (txtVehicleModel.length > 50 || txtVehicleModel.length < 4) {
                message = message + "Vehicle Model should be between 4 to 50 characters.\n";
            }
        if (txtVehicleNumber == "") {
            message = message + "Please enter Vehicle Model.\n";
        }
        else if (/^[^<>'\"/`%-]*$/.test(txtVehicleNumber) == false) {

            message = message + "Special characters(<>'\"/`%-) are not allowed in Vehicle Model.\n";
        }
        else if (txtVehicleNumber.length > 50 || txtVehicleNumber.length < 4) {
            message = message + "Vehicle Model should be between 4 to 50 characters.\n";
        }


        if (message == "") {
            return true;
        }
        else {
            alert(message);
            return false
        }
    }

    function fnRegistration() {
        var form = jQuery("#AddVehicleForm").serialize();
      
        var vehicleTypeID = jQuery("#ddlVehicles").val();
        form += "&ddlVehicleTypeID=" + vehicleTypeID;
        var AmobileNumber=jQuery("#txtPhoneNumber").val();

        if (validation()) {

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("AddVehicle", "Partner")',
                dataType: 'json',
                data: form,
                success: function (data) {

                    if (data == 0) {
                        alert("Entered Phone Number is already registered.");
                    }
                    if (data == -1) {
                        alert("Please Enter correct data as per validation.");
                    }
                    if (data != 0 && data != -1) {
                        jQuery('body').loadingIndicator();
                        jQuery("#AttachVehicle")[0].reset();
                        window.location.href = '@Url.Action("Verification", "User")?MobileNumber=' + AmobileNumber;
                    }

                },
                error: function (data) {

                    alert("Some Error Occured");
                    jQuery("#diverror").show();
                }
            });
        }
    }
    jQuery(function () {
        jQuery("#ddlState").change(function () {
            var stagId = jQuery("#ddlState").val();

            jQuery('#ddlDistrict').empty();
            jQuery("#ddlDistrict").html("");
            jQuery("#ddlDistrict").append
            (jQuery('<option></option>').val("0").html("---Select District---"));
            if (stagId != "") {
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.Action("FetchDistricts", "Home")',
                    data: '{StateId:"' + stagId + '"}',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        jQuery.each(result, function (i) {
                            jQuery("#ddlDistrict").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                        });
                    },
                    error: function (response) {
                        alert('Error Occured');
                    }
                });
            }
            jQuery('#ddlMandal').empty();
            jQuery("#ddlMandal").html("");
            jQuery("#ddlMandal").append
            (jQuery('<option></option>').val("0").html("---Select Mandal---"));
        })
    });

    jQuery(function () {
        jQuery("#ddlDistrict").change(function () {

            var DistID = jQuery("#ddlDistrict").val();
            jQuery('#ddlMandal').empty();
            jQuery("#ddlMandal").html("");
            jQuery("#ddlMandal").append(jQuery('<option></option>').val("0").html("---Select Mandal---"));

            if (DistID != "") {
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.Action("FetchMandals", "Home")',
                    data: '{DistrictId:"' + DistID + '"}',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        jQuery.each(result, function (i) {
                            jQuery("#ddlMandal").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                        });
                    },
                    error: function (response) {
                        alert('Error Occured');
                    }
                });
            }
        })
    });

    jQuery(document).ready(function () {
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("GetVehicleTypes", "Book")',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                jQuery.each(result, function (i) {
                    jQuery("#ddlVehicles").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name));
                });
                },
                    error: function (response) {
                        alert('Error Occured');
                    }
        });
    });


</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<div id="divSingUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("AttachVehicle", "Partern", FormMethod.Post, new { id = "AddVehicleForm" }))
                {
                    <h3 class="FormHeading">Enter your vehicle details to add with us</h3>
                    <label class="ResponseMessage"></label>
                    <div class="form-box clearfix">
                        <h3 class="form-heading text-center">Add Now</h3>
                        <div class="row">

                       
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="ddlState">Vehicle Type<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <select id="ddlVehicles" class="form-control text-right">
                                            <option value="0">---Select Vehicle---</option>
                                        </select>
                                        <span class="error-msg" id="ErrorddlState">Please select required vehicle</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtVehicleModel">Vehicle Model<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="txtVehicleModel" name="txtVehicleModel" placeholder="Innova">
                                        <span class="error-msg" id="ErrortxtVehicleModel">Please enter a valid vehicle model</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txVehicleNumber">Vehicle Number<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="txVehicleNumber" name="txVehicleNumber" placeholder="1">
                                        <span class="error-msg" id="ErrortxVehicleNumber">Please enter a valid Vehicle Number</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="cta-actions">
                                    <input id="btnRegister" type="button" value="Submit Details" class="ghost-btn first last filled" onclick="fnRegistration()" />
                                    <br>
                                    <label style="font-size:10px;font-family:inherit">By creating account with RaiteRaju, I agree to <a href="/Footer/TermsAndConditions">Terms and Conditions</a></label>
                                </div>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





