@{
    Layout = "~/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();

    jQuery(document).ready(function () {
        var SelectedCategoryId='@ViewBag.CategoryId';
        var selectedState='@ViewBag.selectedState';
        var selectedDistrictID='@ViewBag.SelectedDistrictId';
        var SelectedMandalID='@ViewBag.selectedMandalId';
        var SelectedSort='@ViewBag.SortVal';

        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("GetCategories", "Home")',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                jQuery.each(result, function (i) {
                    if (SelectedCategoryId!=""||SelectedCategoryId!=0) {
                        if (result[i].ID== parseInt(SelectedCategoryId)) {
                            jQuery("#ddlCategory").append(jQuery('<option selected="selected"></option>').val(result[i].ID).html(result[i].Name));
                        }
                        else {
                            jQuery("#ddlCategory").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name));
                        }
                    }
                    else {
                        jQuery("#ddlCategory").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name));
                    }

                });
            },
            error: function (response) {
                alert('Error Occured');
            }
        });



        if(SelectedSort!=""||SelectedSort!=0){jQuery('select[name="ddlSort"]').find('option[value='+SelectedSort+']').attr("selected",true);}

        if(selectedState!=""){jQuery('select[name="ddlState"]').find('option:contains('+selectedState+')').attr("selected",true);

            var stagId = jQuery("#ddlState").val();
            jQuery('#ddlDistrict').empty();
            jQuery("#ddlDistrict").html("");
            jQuery("#ddlDistrict").append
            (jQuery('<option></option>').val("").html("---Select District---"));

            if (stagId != "") {
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.Action("FetchDistricts", "Home")',
                    data: '{StateId:"' + stagId + '"}',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        jQuery.each(result, function (i) {
                            if(selectedDistrictID!=""||selectedDistrictID!=0){
                                if(result[i].ID== parseInt(selectedDistrictID)){
                                    jQuery("#ddlDistrict").append(jQuery('<option selected="selected"></option>').val(result[i].ID).html(result[i].Name))
                                }
                                else{
                                    jQuery("#ddlDistrict").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                                }
                            }
                            else{
                                jQuery("#ddlDistrict").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                            }

                        });
                    },
                    error: function (response) {
                        alert('Error Occured');
                    }
                });
            }
        }

        if(selectedDistrictID!=""||selectedDistrictID!=0){
            var DistID = selectedDistrictID;
            jQuery('#ddlMandal').empty();
            jQuery("#ddlMandal").html("");
            jQuery("#ddlMandal").append(jQuery('<option></option>').val("").html("---Select Mandal---"));

            if (DistID != "") {
                jQuery.ajax({
                    type: "POST",
                    url: '@Url.Action("FetchMandals", "Home")',
                    data: '{DistrictId:"' + DistID + '"}',
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (result) {
                        jQuery.each(result, function (i) {
                            if(SelectedMandalID!=""||SelectedMandalID!=0){
                                if(result[i].ID== parseInt(SelectedMandalID)){
                                    jQuery("#ddlMandal").append(jQuery('<option selected="selected"></option>').val(result[i].ID).html(result[i].Name))
                                }
                                else{
                                    jQuery("#ddlMandal").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                                }
                            }
                            else{
                                jQuery("#ddlMandal").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))
                            }

                        });
                    },
                    error: function (response) {
                        alert('Error Occured');
                    }
                });
            }
        }



        var AdList = null;
        AdList=@(Html.Raw(Json.Encode(ViewBag.Adlist)));
        var length=Object.keys(AdList).length;


        if(length==0)
        {
            jQuery('#divAdListDisplay').html('<div class="row NoAdData"><div class="col-lg-12 col-sm-12 text-center">No Ads Found For Selected Category</div></div>');
        }
        else
        {
            var tblDisplay=jQuery('#tblDisplay');
            var divAdListDisplay=jQuery("#divAdListDisplay");
            for(i=0;i<length;i++){
                j = i + 1;
                divAdListDisplay.append('<div class="row" style="border:1px solid grey;margin-bottom:4px;cursor:pointer;" onclick="fnOpenAd(' + AdList[i].AdID + ')"><div class="col-lg-2"><img src="/PhotoManagement/Compressed/' + AdList[i].AdID + '.jpg" class="DisplayImageclass" onerror="this.onerror=null;callfun(this);"/></div><div class="col-lg-7 col-xs-12" style="padding-left:35px"><div class="row" id="rowAdTitle">' + AdList[i].txtSubCategoryName + " Available at Rs." + AdList[i].txtPrice + "/" + AdList[i].SellingUnit.slice(0, -1) + '</div><div class="row font12" id="AdCategory">Category: ' + AdList[i].Category + '</div><div class="row font12"><i class="fa fa-map-marker" aria-hidden="true" style="font-size:18px;color:red"></i> ' + AdList[i].Location + '</div><div class="row font12">' + 'Posted On:' + (AdList[i].PostedDate) + '</div></div><div class="col-lg-3 d-none d-md-block"><div class="row" style="padding:15px; font-weight:bold;font-family:Verdana, Geneva, Tahoma, sans-serif"><label><i class="fa fa-inr" aria-hidden="true"></i> ' + AdList[i].txtPrice + "/ " + AdList[i].SellingUnit.slice(0, -1) + '</label></div><div class="row"><label class="PhoneVerf"><i class="fa fa-phone" aria-hidden="true"></i> Phone Number Verified</label></div></div></div>');
            }
        }
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber==1){
            jQuery('a#PreviousPage').attr('disabled', true);
            jQuery('a#PreviousPage').css("cursor","default");
            jQuery('#tdPreviousPage').css("color","Grey");

        }
        if(TotalPageCount==CurrentPageNumber){

            jQuery('a#PageNext').attr('disabled', true);
            jQuery('a#PageNext').css("cursor","default");
            jQuery('#tdPageNext').css("color","Grey");

        }
        if(TotalPageCount==0){
            jQuery("#divPaging").hide();
            jQuery("#divSort").hide();
        }




    });

    jQuery(function () {jQuery("#ddlState").change(function ()    {

        jQuery('#ddlDistrict').empty();
        jQuery("#ddlDistrict").html("");
        jQuery("#ddlDistrict").append
        (jQuery('<option></option>').val("").html("---Select District---"));


        jQuery('#ddlMandal').empty();
        jQuery("#ddlMandal").html("");
        jQuery("#ddlMandal").append(jQuery('<option></option>').val("").html("---Select Mandal---"));


        fnAdSearch(1);   });  });
    jQuery(function () {
        jQuery("#ddlDistrict").change(function () {
            jQuery('#ddlMandal').empty();
            jQuery("#ddlMandal").html("");
            jQuery("#ddlMandal").append(jQuery('<option></option>').val("").html("---Select Mandal---"));


            fnAdSearch(1);
        });
    });
    jQuery(function () {jQuery("#ddlMandal").change(function ()   { fnAdSearch(1);   });  });
    jQuery(function () {jQuery("#ddlSort").change(function ()   { fnAdSearch(1);   });  });

    jQuery(document).ready(function () {jQuery("#ddlCategory").change(function () {

        CategoryId = jQuery(ddlCategory).val();
        if(CategoryId!=""){
            //fnAdSearch(1);
            window.location.href = '@Url.Action("AdSearch", "AddPost")?CategoryId=' + CategoryId + '&PageNumber=' + 1;}
        else{
            fnAdSearch(1);
        }
    });
    });

    function fnAdSearch(PageNumber) {
        debugger;
        var stateVal = jQuery("#ddlState option:selected").text();

        if (stateVal == "---Select State---") {
            stateVal = ""; }

        //    jQuery('#ddlDistrict').empty();
        //    jQuery("#ddlDistrict").html("");
        //    jQuery("#ddlDistrict").append
        //    (jQuery('<option></option>').val("").html("---Select District---"));


        //    jQuery('#ddlMandal').empty();
        //    jQuery("#ddlMandal").html("");
        //    jQuery("#ddlMandal").append(jQuery('<option></option>').val("").html("---Select Mandal---"));

        //}
        var districtVal = jQuery("#ddlDistrict option:selected").text();
        var districtId=jQuery("#ddlDistrict").val();
        var mandalVal = jQuery("#ddlMandal option:selected").text();
        var mandalId=jQuery("#ddlMandal").val();

        var pageNumber=parseInt(PageNumber);
        var CategoryVal = jQuery("#ddlCategory option:selected").text();
        var categoryidVal = jQuery("#ddlCategory").val();
        var SortVal=jQuery("#ddlSort").val();

        if (districtVal == "---Select District---") {
            districtVal = "";
        }
        if (mandalVal == "---Select Mandal---") {
            mandalVal = "";
        }
        if (categoryidVal == 0 || categoryidVal == "") {
            categoryidVal = 0;
        }
        if(stateVal==""&&districtVal=="" && mandalVal=="" && categoryidVal==0){
        }
        else{
            window.location.href = '@Url.Action("_AdSearch", "AddPost")?State=' + stateVal + '&District=' + districtVal+'&DistrictId=' + districtId+ '&Mandal=' +mandalVal+'&MandalId='+mandalId+ '&CategoryId=' + categoryidVal+ '&SortVal=' + SortVal+'&PageNumber=' + pageNumber;
        }

    }

    function fnResetOptions(){
        jQuery('option:selected', 'select[name="ddlState"]').removeAttr('selected');
        jQuery('option:selected', 'select[name="ddlDistrict"]').removeAttr('selected');
        jQuery('option:selected', 'select[name="ddlMandal"]').removeAttr('selected');
        jQuery('option:selected', 'select[name="ddlCategory"]').removeAttr('selected');}

    function fnOpenAd(ADID){
        var AdId=ADID;
        var win = window.open('/AddPost/AdDisplay?AdId='+AdId, '_blank');
        if (win) {
            //Browser has allowed it to be opened
            win.focus();
        }
        else {
            //Browser has blocked it
            alert('Please Allow Popups For This Website');
        }
    }

    jQuery(document).ready(function() {
        jQuery("a#PreviousPage").click(function(){
            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
            }
            else{
                fnAdSearch(CurrentPageNumber-1);
                jQuery('a#PreviousPage').css("color","Blue");

            }
            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
            }
        });

        jQuery("a#PageNext").click(function(){

            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
            }
            if(TotalPageCount==CurrentPageNumber ||TotalPageCount<CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
            }
            else{
                fnAdSearch(CurrentPageNumber+1);
                jQuery('a#PreviousPage').css("color","Blue");
            }
        });
    });

    function fnGoToPage(){
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber>TotalPageCount || CurrentPageNumber==0){
            alert("Maximum Available Pages Are "+TotalPageCount+".");
            jQuery("#txtcurrentPageNumber").val(@ViewBag.CurrentPageNumber);
        }
        else{
            fnAdSearch(CurrentPageNumber);
        }
    }
    function callfun(obj)
    {
        var noimg = "/Content/images/NoImage.jpg";
        obj.src=noimg;
    }
    function fnFiltertoggle() {

        var tempVar = jQuery("#IdAngle").hasClass("fa-angle-double-up");

        jQuery("#AdFilter").toggle();
        if (!tempVar) {
            jQuery("#IdAngle").addClass('fa-angle-double-up').removeClass('fa-angle-double-down');
           
        }
        else {
            jQuery("#IdAngle").addClass('fa-angle-double-down').removeClass('fa-angle-double-up');
            
        }

    }
</script>
<div id="AdSearchResults" class="MinHight">
    <div class="container">
        <div class="row" style="padding-top:20px;">
            <div class="col-lg-1 col-sm-1">

            </div>

            <div class="col-lg-10 col-sm-10">
                <div class="row text-right">
                    <div class="col-lg-8 col-md-8 col-sm-6 col-xs-6"></div>

                    <div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        <button onclick="fnFiltertoggle()" id="IdFilter"><i class="fa fa-bars"></i> Filters <i class="fa fa-angle-double-up" aria-hidden="true" id="IdAngle"></i>  </button>

                    </div>

                </div>

                    <div id="AdFilter" style="display:none;">

                        <div class="row">
                            <div class="col-lg-12 col-sm-12">
                                <label style="font-size:12px;font-family:Verdana,sans-serif;">Select Below Dropdowns To Filter Ads.</label>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-lg-3">
                                <span class="FilterLabels">Select Category</span><br />
                                <select id="ddlCategory" class="form-control" required style="height:35px;"></select>
                            </div>

                            <div class="col-lg-3">
                                <span class="FilterLabels">Select State</span><br />
                                @Html.DropDownList("ddlState", Enum.GetValues(typeof(RaiteRaju.ApplicationUtility.StateList)).Cast<RaiteRaju.ApplicationUtility.StateList>().Select(x => new SelectListItem { Text = x.ToString(), Value = ((int)x).ToString() }), "---Select State---", new { @class = "form-control", required = "required" })

                            </div>

                            <div class="col-lg-3">
                                <span class="FilterLabels">Select District</span><br />
                                <select id="ddlDistrict" name="ddlDistrict" class="form-control" required="required">
                                    <option value="">---Select District---</option>
                                </select>
                            </div>

                            <div class="col-lg-3">
                                <span class="FilterLabels">Select Mandal/Taluka</span><br />
                                <select id="ddlMandal" name="ddlMandal" class="form-control" required="required">
                                    <option value="">---Select Mandal---</option>
                                </select>
                            </div>
                        </div>

                        <div class="row" style="padding-top:10px;" id="divSort">
                <div class="col-lg-9"></div>
                <div class="col-lg-3">
                    <span class="FilterLabels">Sort By:</span><select id="ddlSort" name="ddlSort" class="form-control">
                        <option value="1" selected>Most Recent</option>
                        <option value="2">Price:Low-High</option>
                        <option value="3">Price:Hight-Low</option>
                    </select>
                </div>
            </div>

                    </div>

                    <div id="divAdListDisplay" style="margin-top:50px;">

                    </div>

                    <div class="row" style=" margin-bottom:200px;margin-top:30px" id="divPaging">
                        <div class="col-lg-1 col-md-2 d-none d-md-block">
                        </div>
                        <div class="col-lg-3 col-md-2 col-xs-5" style="text-align:left;color:blue" id="tdPreviousPage">
                            <a id="PreviousPage" data-value="1" style="cursor:pointer">
                                <span> <span class="fa fa-angle-left"></span><span class="fa fa-angle-left"></span> Previous Page </span>
                            </a>
                        </div>
                        <div class="col-lg-2 col-md-2 d-none d-md-block">
                            <input id="btnGoToPage" type="button" title="click here to go to selected page" value="Go To Page" onclick="fnGoToPage()" />
                        </div>
                        <div class="col-lg-1 col-md-1 d-none d-md-block text-left" style="text-align:left">
                            @Html.TextBox("txtcurrentPageNumber", (int)ViewBag.CurrentPageNumber, new { @class = "form-control" })
                        </div>
                        <div class="col-lg-3 col-md-3 col-xs-3">
                            <label id="lblTotalPageNumber">showing page @ViewBag.CurrentPageNumber of @ViewBag.TotalPageNumber</label>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-4" style="text-align:right;color:blue" id="tdPageNext">
                            <a id="PageNext" data-value="2" style="cursor:pointer">
                                <span> Next Page <span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>  </span>
                            </a>
                        </div>
                    </div>

                </div>

            <div class="col-lg-1 col-sm-1">

            </div>
        </div>
    </div>

</div>



<div id="divHiddenForSearch" style="display:none">
    @Html.TextBox("txtHiddenSearchState", (string)@ViewBag.State, new { @class = "form-control" })
    @Html.TextBox("txtHiddenSearchDistrict", (string)@ViewBag.District, new { @class = "form-control" })
    @Html.TextBox("txtHiddenSearchMandal", (string)@ViewBag.Mandal, new { @class = "form-control" })
    @Html.TextBox("txtHiddenSearchCategory", (string)@ViewBag.Category, new { @class = "form-control" })
    @Html.TextBox("txtHiddenSearchKeyword", (string)@ViewBag.Keyword, new { @class = "form-control" })
    @Html.TextBox("txtHiddenCategoryId", (Int32)@ViewBag.CategoryId, new { @class = "form-control" })
    @Html.TextBox("txtClickedOnSearch", null, new { @class = "form-control" })
</div>