
@{
    Layout = "~/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();
    function fnViewPhoneNumber() {
        var ADID=parseInt('@ViewBag.IntAdId');
        window.location.href= '@Url.Action("AdDisplayWithPhoneNumber", "AddPost")?AdId='+ADID;
    }
</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}


<div style="min-height:800px;padding-top:50px;width:100%;align-content:center">
    <div style="float: left;border:1px solid #eae2e2;border-radius:5px">
        <table style="border-collapse:collapse;">
            <tr>
                <td colspan="2" id="AdDisplayAdTitle">
                    @ViewBag.DefinedTitle

                </td>
                @*<td id="price" style="border-radius:5px;background-color:#00ff90;width:200px">
                        Rs.@ViewBag.Price /-
                    </td>*@
            </tr>
            <tr><td style="padding-top:10px;padding-left:15px"><img src="~/Content/images/Location.png" style="width:20px;" /><span id="adDisplayAdLocation">@ViewBag.Location</span></td></tr>
            <tr><td style="padding-bottom:20px;"><span id="posteddate" style="padding-left:20px;">Ad Posted on:@ViewBag.AdPostedDate</span></td></tr>
            @*<tr>
                <td colspan="2" ></td><td style="padding-left:15px;height:50px;background-color:#b6ff00">@ViewBag.Name<br /> @ViewBag.MobileNumber</td>
                        </tr>*@
            <tr>
                <td colspan="2" id="DisplayImage">
                    <img src="/PhotoManagement/Actual/@ViewBag.AdId" style="width: 475px; height:350px;" />
                </td>
            </tr>
            <tr>
                
                <td colspan="2" class="adDispalyCells">
                <table>
                    <tr>
                    <td><span class="AdDisplayAdCategory">Ad Category:</span><br /><span class="advalues">@ViewBag.Category</span></td>
                    <td><span class="AdDisplayAdCategory">Selling Price:</span><br /><span class="advalues">@ViewBag.Price</span></td>
                    <td><span class="AdDisplayAdCategory">Quantity:</span><br /><span class="advalues">@ViewBag.Quantity&nbsp;@ViewBag.Unit</span></td>
                   </tr>
                    </table></td>
            </tr>
            <tr>
                <td class="adDispalyCells"><label class="AdDisplayAdCategory">Description:</label><br /> <span class="advalues">@ViewBag.Description</span> </td>
            </tr>
            <tr>
                <td>
                    <label class="AdDisplayAdCategory">Ad Views:</label>
                </td>
            </tr>
        </table>
    </div>
    <div style="float: left;">
        <table>
            <tr>
                <td id="AdDisplayAdprice">
                    ₹ @ViewBag.Price<span style="font-size:14px !important">@ViewBag.DefinedUnit</span> 
                </td>
            </tr>
            <tr>
                <td id="adDisplayUserDetails">
                <img id="imgLoginIcon" src="~/Content/images/LoginIcon.png" />@ViewBag.Name<br /> @ViewBag.MobileNumber<br /></td>
            </tr>
            <tr>
                <td>
                   <img id="PhoneNumberVerifiedImg" src="~/Content/images/Verified.jpg"/> 
                </td>
            </tr>
        </table>
    </div>
</div>
