
@{
    Layout = "~/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">
    $.noConflict();



    jQuery(document).ready(function () {

        jQuery('#tabOwnerSearch').addClass('active');
        jQuery("#divRideList").attr("tabindex", -1).focus();


        var VehList = null;
        VehList =@(Html.Raw(Json.Encode(ViewBag.vehicleList)));

        if (VehList != null) {
            var pageNumber = (parseInt(@ViewBag.CurrentPageNumber) - 1) * 10;
            var length = Object.keys(VehList).length;

            if (length == 0) {
                jQuery('#tblVehicleList').html('<tr><td class="text-center" style="align-items:center;height:200px;min-width:800px;">No Records found. </tr><td></td></td>');
            }
            else {
                var tblVehList = jQuery('#tblVehicleList');
                for (i = 0; i < length; i++) {
                    j = i + 1;
                    var SNo = pageNumber + j;
                    tblVehList.append('<tr class="tableRow"><td>' + VehList[i].VehicleID + '</td><td width="600px">' + VehList[i].VehicleType + '</td><td width="200px">' + VehList[i].VehicleModel + '</td><td width="200px">' + VehList[i].VehicleNumber + '</td><td width="200px">' + VehList[i].BigIntPhoneNumber + '</td><td width="200px">' + VehList[i].flgOnRide + '</td><td onclick="fnUpdateVehicle(' + VehList[i].VehicleID + ',' + VehList[i].BigIntPhoneNumber + ')" style="cursor:pointer;color:blue;width:200px">Edit</td><td onclick="fnDeleteVehicle(' + VehList[i].VehicleID + ',' + VehList[i].BigIntPhoneNumber + ')" style="cursor:pointer;color:blue;width:200px">Delete</td><tr>')
                }
            }
        }
        else {
            jQuery("#divVehicleList").hide();
        }

        var ownerList = null;
        ownerList =@(Html.Raw(Json.Encode(ViewBag.ownerDetails)));
        if (ownerList != null) {
            var tblownerList = jQuery('#tbleOwner');
            tblownerList.append('<tr class="tableRow"><td>' + ownerList.intOwnerID + '</td><td>' + ownerList.OwnerName + '</td><td>' + ownerList.intStateName + '</td><td>' + ownerList.intDistrictName + '</td><td>' + ownerList.intManadalName + '</td><td>' + ownerList.Place + '</td><td width="100px">' + ownerList.BigIntPhoneNumber + '</td><td>' + ownerList.FlgAccountDeleted + '</td><td onclick="fnUpdateOwner(' + ownerList.intOwnerID + ')" style="cursor:pointer;color:blue;">Edit</td><td onclick="fnDeleteOwner(' + ownerList.BigIntPhoneNumber + ')" style="cursor:pointer;color:blue;">Delete</td><td onclick="fnAddVehicle(' + ownerList.BigIntPhoneNumber + ')" style="cursor:pointer;color:blue;">Add Vehicle</td><tr>')
        } else {
            jQuery("#divOwnerDetails").hide();
        }
    });

    function fnOwnerSearch() {
        intRegex = /^[5-9]{1}[0-9]{9}$/;
        var phoneNumber = jQuery("#txtPhoneNumber").val();

        message = "";

        if (phoneNumber == "") {
            message = message + "Please enter Phone Number.\n";
        }
        else if (intRegex.test(phoneNumber) == false) {
            message = message + "Please Enter Valid Phone Number.\n";
        }
        else {
            window.location.href = "/admin/OwnerSearchWithPhoneNumber?phoneNumber=" + phoneNumber;
        }

    }

    function fnOwnerSearchwithPhoneOrVehicleNumber() {
        intRegex = /^[5-9]{1}[0-9]{9}$/;
        vehicleNumberRegex =/^[A-Z]{2}[0-9]{1,2}[A-Z]{1,2}[0-9]{4}$/;
        var phoneOrVehicleNumber = jQuery("#txtPhoneorVehicleNumber").val();

        message = "";
        debugger;

        if (phoneOrVehicleNumber == "") {
            message = message + "Please enter Phone or Vehicle Number.\n";
        }
        else if (intRegex.test(phoneOrVehicleNumber) == false && vehicleNumberRegex.test(phoneOrVehicleNumber) == false) {
            message = message + "Please Enter Valid Phone or Vehicle Number.\n";
        }
        else {
            window.location.href = "/admin/OwnerSearchWithPhoneOrVehicleNumber?phoneorVehicleNumber=" + phoneOrVehicleNumber;
        }
        if (message != "") {
            alert(message);
        }

    }

    function fnUpdateVehicle(VehicleID, phoneNumber) {
        var VehicleID = VehicleID;
        window.location.href = '@Url.Action("EditVehicleDetails", "Admin")?VehicleID=' + VehicleID + "&phoneNumber=" + phoneNumber;
    }

    function fnDeleteVehicle(VehicleID, phoneNumber) {
        var r = confirm("Are you sure, Do you want to delete Your Add Permanetly!");
        if (r == true) {
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("DeteleVehicle", "Admin")?VehicleID=' + VehicleID + "&phoneNumber=" + phoneNumber,
                dataType: 'json',
                success: function (data) {
                    window.location.reload();
                },
                error: function (data) {
                    alert("Some Error Occured.");
                }
            });
        }
    }

    function fnAddVehicle(phoneNumber) {
        window.location.href = '@Url.Action("AddVehicle", "Admin")?phoneNumber=' + phoneNumber ;
    }

    function fnUpdateOwner(ownerID) {
        window.location.href = '@Url.Action("EditOwnerDetails", "Admin")?ownerID=' + ownerID;

    }
    
    function fnDeleteOwner(BigIntPhoneNumber) {
        var r = confirm("Are You Sure, Do You Want To Delete Account Permanetly!");
        if (r == true) {
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("DeleteAccount", "Admin")?BigIntPhoneNumber=' + BigIntPhoneNumber,
                dataType: 'json',
                success: function (data) {
                    if (data != null) {
                        window.location.href = "/admin/OwnerDetails?intStateID=0&intDistrictID=0&intManadalID=0&VehicleTypeID=0&PageNumber=1";
                    }
                },
                error: function (data) {
                    alert("Some Error Occured");
                }
            });
        }

    }
    
    



</script>




<div id="AdSearchResults" class="MinHight">
    <div class="container">
        <div class="row" style="padding-top:20px;">
            <div class="col-lg-1 col-sm-1">

            </div>
            <div class="col-lg-10 col-sm-10">
                <div class="form-box landing-form-box">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 text-right">
                                    <label for="txtPhoneOrVehicleNumber">Phone/Vehicle Number<span class="MandatoryStars">*</span> :</label>
                                </div>
                                <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12">
                                    <input type="text" class="form-control" id="txtPhoneorVehicleNumber" name="txtPhoneorVehicleNumber" placeholder="9999999999/Tx00Tx0000" maxlength="10" value="@ViewBag.phoneNumber">
                                    <span class="error-msg" id="ErrortxtUserName">Please enter a valid phone or vehicle number</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <div class="cta-actions">
                                <input id="btnRegister" type="button" value="Submit Details" class="ghost-btn first last filled" onclick="fnOwnerSearchwithPhoneOrVehicleNumber()" />
                                <br>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1 col-sm-1">

                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding-top:20px;">
            <div class="col-lg-1 col-sm-1">

            </div>

            <div class="col-lg-10 col-sm-10">
                <div class="divTable" id="divOwnerDetails">
                    <div id="AdList" class="table-responsive">

                        <table id="tbleOwner" style="border-collapse: collapse;text-align:center">
                            <tr id="adlistHeader">
                                <th width="20px">ID</th>
                                <th width="200px">Name</th>
                                <th width="100px">State</th>
                                <th width="100px">District</th>
                                <th width="100px">Mandal</th>
                                <th width="100px">Village</th>
                                <th width="150px">Phone No</th>
                                <th width="60px">Deleted Or Not</th>
                                <th width="100px">Edit</th>
                                <th width="100px">Delete</th>
                                <th width="150px">Add Vehicle</th>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="divTable" id="divVehicleList">
                    <div class="table-responsive">
                        <table id="tblVehicleList" style="border-collapse: collapse;width:100%;overflow-wrap:break-word;text-align:center">
                            <tr id="adlistHeader">
                                <th>VID</th>
                                <th>Type</th>
                                <th>Model</th>
                                <th>Veh Number</th>
                                <th>Ph No.</th>
                                <th>On Ride</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>

            <div class="col-lg-1 col-sm-1">

            </div>
        </div>
    </div>

</div>


