@model RaiteRaju.Web.Models.UserDetailsModel

@{
    Layout = "~/Shared/_AdminLayout.cshtml";
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $.noConflict();



    jQuery().ready(function () {
        jQuery('#tablRides').addClass('active');
    });

    jQuery(document).ready(function () {
        var RideList = null;
        rideList=@(Html.Raw(Json.Encode(ViewBag.rideList)));
        var pageNumber=(parseInt(@ViewBag.CurrentPageNumber)-1)*10;
        var length = Object.keys(rideList).length;

        if(length==0)
        {
            jQuery('#tblRideList').html('<tr><td class="text-center" style="align-items:center;height:200px;">No Data found</tr><td></td></td>');
        }
        else
        {
            var tblrideList = jQuery('#tblRideList');
            for(i=0;i<length;i++){
                j=i+1;
                var SNo=pageNumber+j;
                tblrideList.append('<tr id="rideListRow"><td onclick="fnUpdateAd(' + rideList[i].intRideID + ')" style="cursor:pointer;color:blue;">' + SNo + '</td><td width="100px">' + rideList[i].Name + '</td><td width="100px">' + rideList[i].PhoneNumber + '</td><td width="100px">' + rideList[i].PickUpLocation + '</td><td>' + rideList[i].DropLocation + '</td><td>' + rideList[i].VehicleType + '</td><td width="100px">' + rideList[i].DtCreated + '</td><td width="100px">' + rideList[i].txtRideStatus + '</td><td onclick="fnUpdateRideDetails(' + rideList[i].intRideID + ')" style="cursor:pointer;color:blue;">Edit</td><tr>')
            }
        }
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber==1){
            jQuery('a#PreviousPage').attr('disabled', true);
            jQuery('a#PreviousPage').css("cursor","default");
            jQuery('#tdPreviousPage').css("color","Grey");

        }
        if(TotalPageCount==CurrentPageNumber){

            jQuery('a#PageNext').attr('disabled', true);
            jQuery('a#PageNext').css("cursor","default");
            jQuery('#tdPageNext').css("color","Grey");

        }
        if(TotalPageCount==0){
            jQuery("#divPaging").hide();
        }

    });


  jQuery(document).ready(function() {
        jQuery("a#PreviousPage").click(function(){
            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
            }
            else{
                fnRideSearch(CurrentPageNumber-1);
                jQuery('a#PreviousPage').css("color","Blue");

            }
            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
            }
        });

        jQuery("a#PageNext").click(function(){
            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
            }
            if(TotalPageCount==CurrentPageNumber ||TotalPageCount<CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
            }
            else{
                fnRideSearch(CurrentPageNumber+1);
                jQuery('a#PreviousPage').css("color","Blue");
            }
        });
    });


    function fnGoToPage(){
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber>TotalPageCount || CurrentPageNumber==0){
            alert("Maximum Available Pages Are "+TotalPageCount+".");
            jQuery("#txtcurrentPageNumber").val(@ViewBag.CurrentPageNumber);
        }
        else{
            fnRideSearch(CurrentPageNumber);
        }
    }

        jQuery("#selectAll").change(function(){
            var ischecked= jQuery(this).is(':checked');
            if(ischecked){
                jQuery(".SelectedAds").attr("checked",true);
            }
            if(ischecked==false){
                jQuery(".SelectedAds").attr("checked",false);
            }
        });

    jQuery(function () {
        var selectedVehicleTypeID='@ViewBag.selectedVehicleTypeID';
        var SelectedRideStatusID='@ViewBag.intRideStatusID';


        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("GetVehicleTypes", "Book")',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                jQuery.each(result, function (i) {
                    if (selectedVehicleTypeID != 0 && selectedVehicleTypeID == result[i].ID) {
                        jQuery("#ddlVehicles").append(jQuery('<option selected="selected"></option>').val(result[i].ID).html(result[i].Name))
                    }
                    else {
                        jQuery("#ddlVehicles").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))

                    }
                });
            },
            error: function (response) {
                alert('Error Occured');
            }
        });


        if (SelectedRideStatusID != 0) {
            jQuery('select[name="ddlRideStatus"]').find('option[value=' + SelectedRideStatusID + ']').attr("selected", true);
        }


        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber==1){
            jQuery('a#PreviousPage').attr('disabled', true);
            jQuery('a#PreviousPage').css("cursor","default");
            jQuery('#tdPreviousPage').css("color","Grey");

        }
        if(TotalPageCount==CurrentPageNumber){

            jQuery('a#PageNext').attr('disabled', true);
            jQuery('a#PageNext').css("cursor","default");
            jQuery('#tdPageNext').css("color","Grey");

        }
        if(TotalPageCount==0){
            jQuery("#divPaging").hide();
            jQuery("#divSort").hide();
        }
    });




    jQuery(function () {
        jQuery("#ddlVehicles").change(function () {
            jQuery('select[name="ddlRideStatus"]').find('option[value=' + 0 + ']').attr("selected", true);


            fnRideSearch(1);
        });
    });
    jQuery(function () { jQuery("#ddlRideStatus").change(function () { fnRideSearch(1); }); });

     function fnRideSearch(PageNumber) {

        var RideStatusID = jQuery("#ddlRideStatus").val();

         if (RideStatusID == 0 || RideStatusID == "") { RideStatusID = 0; }

        var pageNumber = parseInt(PageNumber);

         var vehicleTypeID = jQuery("#ddlVehicles").val();

        if (vehicleTypeID == 0 || vehicleTypeID == "") { vehicleTypeID = 0; }

         window.location.href = '@Url.Action("RideDetails", "Admin")?intRideStatusID=' + RideStatusID + '&VehicleTypeID=' + vehicleTypeID + '&PageNumber=' + pageNumber;

    }

    function fnUpdateRideDetails() {

    }


</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-10 col-sm-12">
            <div id="Admin" class="divFilter">
                <div id="AdFilter" @*style="display:none;"*@>

                    <div class="row">
                        <div class="col-lg-12 col-sm-12">
                            <h3 class="FormHeading text-left">Ride Details</h3>
                            <label style="font-size:12px;font-family:Verdana,sans-serif;"> Add Ride for user here</label><a href="/Admin/AddRide?VehicleTypeId=0" class="ghost-btn first last filled py-2" tabindex="-1">Add Ride</a><br>
                            <label style="font-size:12px;font-family:Verdana,sans-serif;">Select Below Dropdowns To Filter Rides.</label>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-lg-3">
                            <span class="FilterLabels">Select Vehicle Type</span><br />
                            <select id="ddlVehicles" class="form-control" required style="height:35px;">
                                <option value="0">---Select Vehicle---</option>
                            </select>
                        </div>

                        <div class="col-lg-3">
                            <span class="FilterLabels">Select Status</span><br />
                            <select id="ddlRideStatus" name="ddlRideStatus" class="form-control" required="required">
                                <option value="0">---Select Status---</option>
                                <option value="1">Not Assigned</option>
                                <option value="2">Assigned</option>
                                <option value="3">Rejected By User</option>
                                <option value="4">Completed</option>
                                <option value="5">Deleted</option>
                            </select>
                        </div>


                    </div>
                </div>
            </div>
            <div class="divTable" id="divRideList">
                <div class="table-responsive">
                    <table id="tblRideList" style="border-collapse: collapse;width:100%" class="listTable">
                        <tr class="tblHeader">
                            <th width="50px">S.No</th>
                            <th width="100px">Name</th>
                            <th width="100px">Ph No.</th>
                            <th width="100px">Pick Up</th>
                            <th width="100px">Drop</th>
                            <th width="100px">Requested Vehicle</th>
                            <th width="100px">Entry Date</th>
                            <th width="100px">Status</th>
                            <th width="80px"></th>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="row" style=" margin-bottom:200px;margin-top:30px" id="divPaging">
                <div class="col-lg-1 col-md-2 d-none d-md-block">
                </div>
                <div class="col-lg-3 col-md-2 col-xs-5" style="text-align:left;color:blue" id="tdPreviousPage">
                    <a id="PreviousPage" data-value="1" style="cursor:pointer">
                        <span> <span class="fa fa-angle-left"></span><span class="fa fa-angle-left"></span> Previous Page </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 d-none d-md-block">
                    <input id="btnGoToPage" type="button" title="click here to go to selected page" value="Go To Page" onclick="fnGoToPage()" />
                </div>
                <div class="col-lg-1 col-md-1 d-none d-md-block text-left" style="text-align:left">
                    @Html.TextBox("txtcurrentPageNumber", (int)ViewBag.CurrentPageNumber, new { @class = "form-control" })
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <label id="lblTotalPageNumber">showing page @ViewBag.CurrentPageNumber of @ViewBag.TotalPageNumber</label>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-4" style="text-align:right;color:blue" id="tdPageNext">
                    <a id="PageNext" data-value="2" style="cursor:pointer">
                        <span> Next Page <span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>  </span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-1 col-sm-1">

        </div>
    </div>

</div>


<div>

</div>