
@{
    ViewBag.Title = "VerifyUsers";
    Layout = "~/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script type="text/javascript">

    $.noConflict();
    var UserList = null;

    jQuery(document).ready(function () {
        jQuery('#tabVerifyUsers').addClass('active');

        UserList=@(Html.Raw(Json.Encode(ViewBag.UserList)));
        var length=Object.keys(UserList).length;

        if(length==0)
        {
            jQuery('#tblUserList').html('<tr><td style="padding-top:120px;padding-left:220px" ">No records found.</tr></td>');
        }
        else
        {
            var tblUserList=jQuery('#tblUserList');
            for(i=0;i<length;i++){ j=i+1;
                tblUserList.append('<tr id="AdListRow"><td style="width:50px">'+UserList[i].intUserId+'</td><td style="text-align:center;width:100px">'+ UserList[i].txtUserName+'</td><td style="text-align:center;width:100px">'+UserList[i].txtPhoneNumber+'</td><td style="text-align:center;width:300px">'+UserList[i].ddlState+","+UserList[i].ddlDistrict+","+UserList[i].ddlMandal+","+UserList[i].txtVillage+'</td><td style="text-align:center;width:50px"><input type="checkbox" value='+UserList[i].txtPhoneNumber+' class="SelectedAds" ></td><td style="text-align:center;width:100px"></td><tr>')
            }
        }
       var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber==1){
            jQuery('a#PreviousPage').attr('disabled', true);
            jQuery('a#PreviousPage').css("cursor","default");
            jQuery('#tdPreviousPage').css("color","Grey");

        }
        if(TotalPageCount==CurrentPageNumber){

            jQuery('a#PageNext').attr('disabled', true);
            jQuery('a#PageNext').css("cursor","default");
            jQuery('#tdPageNext').css("color","Grey");

        }
        if(TotalPageCount==0){
            jQuery("#divPaging").hide();
        }
    });

    jQuery(document).ready(function() {
        jQuery("a#PreviousPage").click(function(){

            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
                //jQuery('a#PreviousPage').css("color","grey");
            }
            else{
                CurrentPageNumber=CurrentPageNumber-1;
                window.location.href='@Url.Action("VerifyUsers", "Admin")?PageNumber='+CurrentPageNumber;
            }

            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
                // jQuery('a#PreviousPage').css("color","grey");
            }


        });
        jQuery("a#PageNext").click(function(){

            var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
            var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
            if(CurrentPageNumber==1){
                jQuery('a#PreviousPage').attr('disabled', true);
                // jQuery('a#PreviousPage').css("color","grey");
            }
            if(TotalPageCount==CurrentPageNumber){
                jQuery('a#PageNext').attr('disabled', true);
                //jQuery('a#PreviousPage').css("color","grey");
            }
            else{
                CurrentPageNumber=CurrentPageNumber+1;
                window.location.href='@Url.Action("VerifyUsers", "Admin")?PageNumber='+ CurrentPageNumber;
            }
        });
    });

    function fnGoToPage(){
        var CurrentPageNumber=parseInt(jQuery("#txtcurrentPageNumber").val());
        var TotalPageCount=parseInt('@ViewBag.TotalPageNumber');
        if(CurrentPageNumber>TotalPageCount || CurrentPageNumber==0){
            alert("Maximum available pages are "+TotalPageCount+".");
        }
        else{

            window.location.href='@Url.Action("VerifyUsers", "Admin")?PageNumber='+ parseInt(CurrentPageNumber);
        }
    }
    jQuery().ready(function(){
        jQuery("#selectAll").change(function(){
            var ischecked= jQuery(this).is(':checked');
            if(ischecked){
                jQuery(".SelectedAds").attr("checked",true);
            }
            if(ischecked==false){
                jQuery(".SelectedAds").attr("checked",false);
            }
        });
    });

    function fnDeleteUserAccounts(){
        var PhoneNumbers="";

        jQuery(".SelectedAds:checked").each(function(){
            if(PhoneNumbers==""){
                PhoneNumbers=jQuery(this).val();
            }
            else{
                PhoneNumbers=PhoneNumbers+","+jQuery(this).val();
            }
        })
        if(PhoneNumbers!=""){
            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("VerifyUsers", "Admin")',
                dataType: 'json',
                data:{ SelectedPhoneNumbers:PhoneNumbers},
                success: function (data) {
                    if(data!=0){
                        alert("Selected User Account/s Are Verified Successfully");

                        if(parseInt(@ViewBag.TotalPageNumber)<parseInt(@ViewBag.CurrentPageNumber)){
                            var currentpageNumber=@ViewBag.TotalPageNumber;
                        }
                        else{
                            var currentpageNumber=@ViewBag.CurrentPageNumber;
                        }
                        window.location.href='@Url.Action("VerifyUsers", "Admin")?PageNumber='+ currentpageNumber;
                    }
                    else
                    {
                        alert("Something Went Wrong, Please Try After Sometime.");
                    }
                },
                error: function (data) {
                    alert("Some Error Occured");
                }
            });
        }
        else{
            alert("Please select records to delete.");
        }
    }
</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

@*<div>
        <a href="/admin/AdminMain">Admin Page</a>
    </div>*@
<div class="container">
    <div class="row">
        <div class="col-md-1 col-sm-1">

        </div>
        <div class="col-md-10 col-sm-12">

            <div id="AdList" class="table-responsive">

                <table id="tblUserList" style="border-collapse: collapse;text-align:center">
                    <tr id="adlistHeader">
                        <th width="50px">ID</th>
                        <th width="100px">Name</th>
                        <th width="300px">Phone Number </th>
                        <th width="400px">Address</th>
                        @*<th width="300px">District</th>
                    <th width="200px">Mandal</th>
                    <th width="200px">Village</th>*@
                        <th width="50px"><input type="checkbox" id="selectAll"></th>
                        <th width="200px"><input id="btnVerify" type="button" value="Verify" onclick="fnDeleteUserAccounts()"  class="ghost-btn first last filled py-2"/></th>
                    </tr>
                    <tr><td style="align-items:center;width:50px"></td><td style="align-items:center;width:100px"></td><td style="align-items:center;width:200px"> </td><td style="align-items:center;width:300px"></td><td style="align-items:center;width:50px"></td><td style="align-items:center;width:100px"></td></tr>

                </table>
            </div>

            <div class="row" style=" margin-bottom:200px;margin-top:30px" id="divPaging">
                <div class="col-lg-1 col-md-2 d-none d-md-block">
                </div>
                <div class="col-lg-3 col-md-2 col-xs-5" style="text-align:left;color:blue" id="tdPreviousPage">
                    <a id="PreviousPage" data-value="1" style="cursor:pointer">
                        <span> <span class="fa fa-angle-left"></span><span class="fa fa-angle-left"></span> Previous Page </span>
                    </a>
                </div>
                <div class="col-lg-2 col-md-2 d-none d-md-block">
                    <input id="btnGoToPage" type="button" title="click here to go to selected page" value="Go To Page" onclick="fnGoToPage()" />
                </div>
                <div class="col-lg-1 col-md-1 d-none d-md-block text-left" style="text-align:left">
                    @Html.TextBox("txtcurrentPageNumber", (int)ViewBag.CurrentPageNumber, new { @class = "form-control" })
                </div>
                <div class="col-lg-3 col-md-3 col-xs-3">
                    <label id="lblTotalPageNumber">showing page @ViewBag.CurrentPageNumber of @ViewBag.TotalPageNumber</label>
                </div>
                <div class="col-lg-2 col-md-2 col-xs-4" style="text-align:right;color:blue" id="tdPageNext">
                    <a id="PageNext" data-value="2" style="cursor:pointer">
                        <span> Next Page <span class="fa fa-angle-right"></span><span class="fa fa-angle-right"></span>  </span>
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>
