@model RaiteRaju.Web.Models.UserDetailsModel
@{
    Layout = "~/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.loading-indicator.min.js"></script>
<link type="text/css" rel="stylesheet" href="~/Content/css/jquery.loading-indicator.css" />
<script type="text/javascript">
    $.noConflict();
    jQuery("#diverror").hide();

    function fnCancel() {
        window.location.href = '@Url.Action("Login", "User")';
    }

    function validation() {
        var ddlState = jQuery("#ddlState");
        var ddlDistrict = jQuery("#ddlDistrict");
        var ddlMandal = jQuery("#ddlMandal");
        var phone = jQuery("#txtPhoneNumber").val(),
            //intRegex = /^\d{10}$/;
            intRegex = /^[5-9]{1}[0-9]{9}$/;
        var message = "";

        if (ddlState.val() == "" || ddlDistrict.val() == "" || ddlMandal.val() == "" || jQuery("#txtUserName").val() == "" || jQuery("#txtPhoneNumber").val() == "" || jQuery("#txtVillage").val() == "" || jQuery("#txtPassword").val() == "") {

            if (jQuery("#txtUserName").val() == "") {
                message = message + "Please Enter Name.\n";
            }
            if (jQuery("#txtPhoneNumber").val() == "") {
                message = message + "Please Enter Phone Number.\n";
            }
            if (jQuery("#txtPassword").val() == "") {
                message = message + "Please Enter Password.\n";
            }
            if (ddlState.val() == "" || ddlState.val() == "---Select State---") {
                //If the "Please Select" option is selected display error.
                message = message + "Please Select State.\n";
            }
            if (ddlDistrict.val() == "" || ddlDistrict.val() == "---Select District---") {
                //If the "Please Select" option is selected display error.
                message = message + "Please Select District.\n";
            }
            if (ddlMandal.val() == "" || ddlMandal.val() == "---Select Mandal---") {
                //If the "Please Select" option is selected display error.
                message = message + "Please Select Mandal.\n";
            }
            if (jQuery("#txtVillage").val() == "") {
                message = message + "Please Enter Village.\n";
            }

        }
        else if (ddlState.val() != "" && ddlDistrict.val() != "" && ddlMandal.val() != "" && jQuery("#txtUserName").val() != "" && jQuery("#txtPhoneNumber").val() != "" && jQuery("#txtVillage").val() != "" && jQuery("#txtPassword").val() != "") {

            if (/^[^<>'\"/`%-]*$/.test(jQuery("#txtUserName").val()) == false) {
                message = message + "Special characters(<>'\"/`%-) Are Not Allowed In Name.\n";
            }
            else if (jQuery("#txtUserName").val().length > 50 || jQuery("#txtPassword").val().length < 8) {
                message = message + "Name Should Be Between 4 To 50 Characters.\n";
            }

            if (intRegex.test(phone) == false) {
                message = message + "Please Enter Valid Phone Number.\n";
            }

            if (/^[^<>'\"/`%-]*$/.test(jQuery("#txtVillage").val()) == false) {

                message = message + "Special Characters(<>'\"/`%-) Are Not Allowed In Village.\n";
            }
            else if (jQuery("#txtVillage").val().length > 50 || jQuery("#txtVillage").val().length < 4) {
                message = message + "Village Should Be Between 4 To 50 Characters.\n";
            }

            if (/^[^<>'\"/`%-]*$/.test(jQuery("#txtPassword").val()) == false) {
                message = message + "Special Characters(<>'\"/`%-) Are Not Allowed In Password.\n";
            }
            else if (jQuery("#txtPassword").val().length > 20 || jQuery("#txtPassword").val().length < 8) {
                message = message + "Password Should Be Between 8 To 20 Characters\n";
            }
        }

        if (message == "") {
            return true;
        }
        else {
            alert(message);
            return false
        }
    }

    function fnRegistration() {

        //jQuery(this).validate();
        //if (!jQuery("#UserRegistration").valid()) return false;

        var form = jQuery("#UserRegistration").serialize();
        var state = jQuery("#ddlState option:selected").text();
        var district = jQuery("#ddlDistrict option:selected").text();
        var mandal = jQuery("#ddlMandal option:selected").text();
        form += "&ddlStateText=" + state + "&ddlDistrict=" + district + "&ddlMandal=" + mandal;
        var AmobileNumber = jQuery("#txtPhoneNumber").val();

        if (validation()) {

            jQuery.ajax({
                type: 'POST',
                url: '@Url.Action("Registration", "User")',
                dataType: 'json',
                data: form,
                success: function (data) {

                    if (data == 0) {
                        alert("Entered Phone Number Is Already Registered.");
                    }
                    if (data == -1) {
                        alert("Please Enter Correct Data As Per Validation.");
                    }
                    if (data != 0 && data != -1) {
                        jQuery('body').loadingIndicator();
                        jQuery("#UserRegistration")[0].reset();
                        window.location.href = '@Url.Action("Verification", "User")?MobileNumber=' + AmobileNumber;
                    }

                },
                error: function (data) {

                    alert("Some Error Occured");
                    jQuery("#diverror").show();
                }
            });
        }
    }
  
    jQuery(document).ready(function () {
        var VehicleTypeId =@ViewBag.VehicleTypeId
        jQuery.ajax({
            type: "POST",
            url: '@Url.Action("GetVehicleTypes", "Book")',
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                jQuery.each(result, function (i) {
                    if (VehicleTypeId!=null && VehicleTypeId == result[i].ID) {
                        jQuery("#ddlVehicles").append(jQuery('<option selected="selected"></option>').val(result[i].ID).html(result[i].Name))
                    }
                    else {
                        jQuery("#ddlVehicles").append(jQuery('<option></option>').val(result[i].ID).html(result[i].Name))

                    }
                });
            },
            error: function (response) {
                alert('Error Occured');
            }
        });
    });
          


</script>
@{Html.EnableClientValidation();}
@{Html.EnableUnobtrusiveJavaScript();}

<div id="divSingUp">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                @using (Html.BeginForm("Registration", "User", FormMethod.Post, new { id = "UserRegistration" }))
                {
                    <h3 class="FormHeading">Enter your details to register with us</h3>
                    <label class="ResponseMessage"></label>
                    <div class="form-box clearfix">
                        <h3 class="form-heading text-center">Book Now</h3>
                        <div class="row">

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtUserName">Name<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        @Html.TextBox("txtUserName", null, new { @class = "form-control", @placeholder = " Name" })
                                        <span class="error-msg" id="ErrortxtUserName">Please enter valid name</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtPhoneNumber">Phone Number<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="txtPhoneNumber" name="txtPhoneNumber" placeholder="9999999999" maxlength="10">
                                        <span class="error-msg" id="ErrortxtUserName">Please enter a valid phone number</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="ddlState">Vehicle Type<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <select id="ddlVehicles" class="form-control text-center">
                                            <option value="0">---Select Vehicle---</option>
                                        </select>
                                        <span class="error-msg" id="ErrorddlState">Please Select required vehicle</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtVillage">Pick Up Location<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 text-right">
                                        <input type="text" class="form-control" id="txtVillage" name="txtVillage" placeholder="Pragathi Nagar">
                                        <span class="error-msg" id="ErrorPickUpLocation">Please enter Pick Up Location</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="form-group">
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 text-right">
                                        <label for="txtVillage">Drop Location<span class="MandatoryStars">*</span> :</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                        <input type="text" class="form-control" id="txtVillage" name="txtVillage" placeholder="Pragathi Nagar">
                                        <span class="error-msg" id="ErrorDropLocation">Please enter Drop Location</span>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                <div class="cta-actions">
                                    <input id="btnRegister" type="button" value="Submit Details" class="ghost-btn first last filled" onclick="fnRegistration()" />
                                    <br>
                                    <label style="font-size:10px;font-family:inherit">By creating account with RaiteRaju, I agree to <a href="/Footer/TermsAndConditions">Terms and Conditions</a></label>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>





